@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin-bottom: 50px;
    padding: 20px;
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px;


}

.topic {
    background: lightgray;
    /*add CSS here*/
    margin:50px;
    display: inline-block;
   

}